<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" 
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" type="text/css"/>
    <!-- CSS stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static' , filename = 'css/style.css') }}">
    {% block styles %}

    {% endblock %}

    <title>Recipe</title>
</head>
<body>
    
    <header>
        <!--  -->
        <nav class="nav-extended text-shadow blue-grey">
            <div class="nav-wrapper">
                <a href="{{url_for('get_recipes')}}" class="brand-logo">Cooking Book</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="fas fa-bars">MENU</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="{{url_for('get_recipes')}}">Home</a></li>
                    <li><a href="#">Recipe</a></li>
                    {% if session.user %}
                        <li><a href="#">New Recipe</a></li>
                        <li><a href="{{ url_for('profile' ,username=session['user'])}}">Profile</a></li>
                        <li><a href="{{url_for('logout')}}">Log Out</a></li>
                    {% else %}
                        <li><a href="{{url_for('login')}}">Log In</a></li>
                        <li><a href="{{url_for('register')}}">Registration</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <!-- Mobile navbar -->
        <ul class="sidenav" id="mobile-demo">
            <li><a href="{{url_for('get_recipes')}}">Home</a></li>
                    <li><a href="#">Recipe</a></li>
                    {% if session.user %}
                        <li><a href="#">New Recipe</a></li>
                        <li><a href="{{ url_for('profile' ,username=session['user'])}}">Profile</a></li>
                        <li><a href="{{url_for('logout')}}">Log Out</a></li>
                    {% else %}
                        <li><a href="{{url_for('login')}}">Log In</a></li>
                        <li><a href="{{url_for('register')}}">Registration</a></li>
                    {% endif %}
        </ul>
    </header>
    <!-- Search box  -->
    <div class="row">  
        <form method="POST" action="{{ url_for('search') }}" class="col s8 offset-m2">
            <div class="row center-align">
                <div class="input-field col s12">
                <input id="search" name="search" minlength="2" type="text" class="validate"  required>
                <label class="label-icon" for="search"><i class="fas fa-search">Search</i></label>
                <div class="col s12">
                    <button class="waves-effect text-shadow blue-grey btn-large"><strong>Search</strong></button>
                    <a href="{{ url_for('get_recipes') }}" class="waves-effect text-shadow blue-grey btn-large"><i class="fas fa-redo"></i>Clear Search</a>
                </div>
                
                </div>
            </div>
        </form>
    </div>
    <!-- Display recipis from database -->
    {% if recipes|length > 0 %}
        <div class="row">
            {% for recipe in recipes %}
                <div class="col s12 mg 14">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img src="{{ recipe.recipe_img }}" alt="{{recipe.recipe_alt}}">
                        </div>
                        <div class="card-content">
                            <span class="card-title">
                                <p><strong>{{recipes.category_name}} </strong></p>
                            </span>
                            <p>{{recipe.recipe_name}}</p>
                            <p>Prep: {{recipe.recipe_prep}} min</p>
                            <p>Cooking Time: {{recipe.recipe_cook}} min</p>
                            <p>Serving: {{recipe.recipe_serves}}</p>
                            <p>Ingredients: {{ recipe.recipe_ingredients }}</p>
                            <p>Method: {{recipe.recipe_method}}</p>
                            
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <h3 class="red-text center-align">No recipes found</h3>
    {% endif %}
    <section>
        <!-- flash massages -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="row flashes">
                        <h3 class="text-shadow teal lighten-3 white-text center-align">{{ message }}</h3>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </section>

    <main class="containser">
    {% block content %}
    {% endblock %}
    </main>
    <!-- JQuert -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- Materialize javascripr-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{url_for('static' , filename = 'js/script.js')}}"></script>
    {% block scripts %}

    {% endblock %}
</body>
</html>