{% extends "base.html" %}
{% block content %}
    <div class="row">
        <img  class="col s4" src="/static/images/CHICKPEA_VEG_EGG.jpg" alt="CHICKPEA_VEG_EGG">
        <img class="col s4" src="/static/images/CHICKPEA_VEG_EGG.jpg" alt="CHICKPEA_VEG_EGG">
        <img class="col s4" src="/static/images/CHICKPEA_VEG_EGG.jpg" alt="CHICKPEA_VEG_EGG">
    </div>
    <div class="text-container blue-grey-text center-align">
        <p class="flow-text">
            Welcome to Concept-Cooking contains a large range of dishes. <br>
            Concept-Cooking was created for the purpose of quickly finding tasty and easy to prepare dishes.
            We want our users to be able to quickly and easily find an idea for their meal for this purpose we want to create the
            largest possible database of dishes.
            <!-- Create text for this section -->
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget dui nulla. Curabitur vulputate erat turpis, ac
            fermentum mauris bibendum vitae.
            Suspendisse sit amet dolor et augue euismod auctor. Praesent eu odio nisi. Donec fringilla lacus tempor nisi laoreet,
            sed volutpat tortor iaculis.
            Proin mollis odio turpis. Phasellus bibendum bibendum odio, ac egestas dui elementum id. Quisque nec felis quis ante
            tempus aliquet. Quisque vel porta risus.
            Curabitur vel ex molestie, volutpat ligula non, blandit mi. Sed dictum congue nunc, eget finibus enim vestibulum eget.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tempus arcu in venenatis egestas. Pellentesque sit
            amet magna vitae est pharetra pellentesque. Vestibulum a molestie arcu. Vestibulum id urna cursus, sagittis turpis sit
            amet, condimentum dolor. Curabitur maximus odio quis ultricies ornare. Curabitur luctus iaculis sollicitudin.
            Pellentesque nec metus nec tortor malesuada fermentum et in quam.
            
            Proin a eros nulla. Donec nec mauris tortor. Duis porttitor nisi et auctor euismod. Nam at urna posuere magna tincidunt
            rutrum. Etiam venenatis nisi ac magna molestie, et gravida leo finibus. Nam in urna ipsum. Pellentesque sodales enim
            eget interdum placerat. Nullam vitae odio tortor.
            
            Duis porttitor turpis eget gravida interdum. Praesent quis nibh eros. Vestibulum lacinia pretium leo sed bibendum. Proin
            pharetra felis arcu, at vestibulum odio facilisis ac. Proin magna mi, fringilla id nisi id, dictum aliquam est. Donec
            vel sagittis mi. Curabitur ornare metus justo, at ultricies nisi eleifend et. Fusce fermentum lectus a auctor rutrum.
            Donec luctus metus at nisl efficitur venenatis. Mauris varius suscipit dictum.
            
            Vestibulum id lectus id metus venenatis lobortis. Donec nunc ante, cursus id libero eu, elementum congue mauris.
            Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Cras et egestas dui, in
            consectetur purus. Sed in consectetur velit, dictum blandit lacus. Fusce dictum fermentum urna, vitae rutrum urna
            tincidunt non. Aliquam porta velit a feugiat pulvinar.
            
            Etiam ut volutpat leo, eu ornare turpis. Nulla arcu dui, mollis ut ipsum eget, viverra malesuada mi. Nulla facilisi.
            Nullam iaculis, quam quis molestie bibendum, enim nulla vestibulum nisl, ac efficitur felis urna a ligula. Etiam vitae
            justo eget felis feugiat laoreet ac congue mi. Donec pellentesque condimentum metus, nec efficitur velit porttitor non.
            In neque tortor, elementum ut metus quis, bibendum semper ligula. Ut pulvinar nunc ex, quis posuere velit pharetra sed.
            Vestibulum a cursus velit. Fusce eget suscipit justo. Pellentesque habitant morbi tristique senectus et netus et
            malesuada fames ac turpis egestas. Maecenas egestas dui eget hendrerit ullamcorper.
            
            Generated 5 paragraphs, 325 words, 2201 bytes of Lorem Ipsum
        </p>
    </div>
{% endblock %}