{% extends "base.html"%}
{% block content %}
    {% for recipe in recipes %}
        {{recipe.category_name}}<br>
        {{recipe.recipe_img}}<br>
        {{recipe.recipe_alt}}<br>
        {{recipe.recipe_name}}<br>
        {{ recipe.recipe_prep}}<br>
        {{recipe.recipe_cook}}<br>
        {{recipe.recipe_serves}}<br>
        {{recipe.recipe_method}}<br>
        {{recipe.user_favorite}}<br>
    {% endfor %}
    <ul class="collapsible">
        <li>
            <div class="collapsible-header text-shadow blue-grey white-text"><i class="fas fa-angle-down"></i><strong>Breakfast</strong></div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
            <div class="collapsible-header text-shadow blue-grey white-text"><i class="fas fa-angle-down"></i><strong>Lunch</strong></div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
            <div class="collapsible-header text-shadow blue-grey white-text"><i class="fas fa-angle-down"></i><strong>Dinner</strong></div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
    </ul>
{% endblock %}